

.menu_item{
    &_title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .item_title{
            font-size: 2.5rem;
            font-family: var(--font-base);
            color: var(--color-golden);
        }
        .item_price{
            display: flex;
            align-items: center;
            gap: 2rem;
            .price_line{
              width: 10rem;
              height: .2rem;
              background-color: var(--color-golden);
            }
            .price{
                font-size: 2.5rem;
            font-family: var(--font-base);
            color: var(--color-golden);
            }
        }
    }
    &_tag{
        font-size: 1.5rem;
        font-family: var(--font-alt);
        color: var(--color-grey);
    }
}
.special_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    .menus{
        padding: 4rem 0;
        display: flex;
        // border: 1px solid red;
        @media screen and (max-width : 56.25rem){
           flex-direction: column;
           width: 100%;
        }
       
        .wine{
            flex: 1;
         display: flex;
         flex-direction: column;
         gap: 3rem;
         padding: 0rem 1rem;
        //  border: 1px solid red;
       
        }
        .menu_img{
            flex: 1;
            display: flex;
           
          &_wrapper{
              margin: auto;
              @media screen and (max-width : 56.25rem){
                  max-width: 25rem;
               }
            // border: 2px solid blue;
          }
        }
        .cocktail{
            flex: 1;
            padding: 0rem 1rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }
    }
}