

.subheading{
    width: max-content;
    // border: 1px solid red;
    &_title{
        font-family: var(--font-base);
        font-size: 3rem;
    }
    .spoon_img{
        // border: 1px solid red;
        display: flex;
        align-items: center;
       
        img{
            width: 3.5rem;
            // border: 1px solid red;
            text-align: center;
        }

    }
   
}