
.footer{
    padding: 8rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    max-width: 100rem;
    margin: auto;
    .newletter{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        
       
        background-color: var(--color-black);
        border: .2rem solid var(--color-golden);
        padding: 8rem;
        border-radius: 2rem;
        @media screen and (max-width : 37.5rem){
            border: .2rem solid transparent;
            .newletter_title{
                font-size: 5rem;
            }
        }
        .new_input{
            display: flex;
            gap: 2rem;
            align-items: center;
            justify-content: center;
            @media screen and (max-width : 37.5rem){
                flex-direction: column;
                margin-bottom: 2rem;
            }
            input{
            //   max-width: 60rem;
              min-width: 40rem;
                padding: 1rem 2rem;
                background-color: transparent;
                outline: none;
                border: .2rem solid var(--color-golden);
                border-radius: 1rem;
                color: var(--color-white);
                font-family: var(--font-base);
                font-size: 1.8rem;
                &::placeholder{
                    font-family: var(--font-base);
                }
                
            }
        }
    }
    .footer_info{
        width: 100%;
     
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(30rem , 1fr));
        grid-gap: 3rem;
        // border: 1px solid rgb(0, 170, 255);
        &>*{
            width: 100%;
            flex: 1;
            // border: 1px solid red;
            align-self: flex-start;
        }
        .footer_contact{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            .address{
                display: grid;
                grid-gap: .5rem;
                align-items: center;
                justify-content: center;
                .phone{
                    font-size: 1.5rem;
                    font-family: var(--font-alt);
                    color: var(--color-white);
                    text-align: center;
                }
            }
        }
        .footer_logo{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            .para{
                color: var(--color-white);
                text-align: center;
            }
            .logo{
                width: 15rem;
                img{
                    width: 90%;
                    object-fit: contain;
                }
            }
        }
        .footer_hours{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            .foot_open{
                font-size: 1.5rem;
                font-family: var(--font-alt);
                text-align: center;
            }
        }
    }
}
.copyright{
   
    text-align: center;
    font-size: 3rem;
    font-family: var(--font-base);
    color: var(--color-golden);
    padding-bottom: 4rem;
}